<?xml version="1.0"?>
<config>
    <modules>
        <Classaxe_Complexworld>
            <version>0.1.0</version>
        </Classaxe_Complexworld>
    </modules>
    <frontend>
        <routers>
            <complexworld>
                <use>standard</use>
                <args>
                    <module>Classaxe_Complexworld</module>
                    <frontName>complexworld</frontName>
                </args>
            </complexworld>
        </routers>
    </frontend>
    <global>
        <models>
            <complexworld>
                <class>Classaxe_Complexworld_Model</class>
                <resourceModel>complexworld_resource</resourceModel>
            </complexworld>
            <complexworld_resource>
                <class>Classaxe_Complexworld_Model_Resource</class>
                <entities>
                    <eavblogpost>
                        <table>eavblog_posts</table>
                    </eavblogpost>
                </entities>
            </complexworld_resource>
        </models>
        <blocks>
            <complexworld>
                <class>Classaxe_Complexworld_Block</class>
            </complexworld>
        </blocks>
        <helpers>
            <complexworld>
                <class>Classaxe_Complexworld_Helper</class>
            </complexworld>
        </helpers>
        <resources>
            <complexworld_setup>
                <setup>
                    <module>Classaxe_Complexworld</module>
                    <class>Classaxe_Complexworld_Model_Resource_Setup</class>
                </setup>
            </complexworld_setup>
        </resources>
    </global>
</config>