<?xml version="1.0"?>
<config>
    <modules>
        <Classaxe_Weblog>
            <version>0.2.0</version>
        </Classaxe_Weblog>
    </modules>
    <frontend>
        <routers>
            <weblog>
                <use>standard</use>
                <args>
                    <module>Classaxe_Weblog</module>
                    <frontName>weblog</frontName>
                </args>
            </weblog>
        </routers>
    </frontend>
    <global>
        <models>
            <weblog>
                <class>Classaxe_Weblog_Model</class>
                <resourceModel>weblog_resource</resourceModel>
            </weblog>
            <weblog_resource>
                <class>Classaxe_Weblog_Model_Resource</class>
                <entities>
                    <blogpost>
                        <table>blog_posts</table>
                    </blogpost>
                </entities>
            </weblog_resource>
        </models>
        <blocks>
            <classaxe_weblog>
                <class>Classaxe_Weblog_Block</class>
            </classaxe_weblog>
        </blocks>
        <helpers>
            <classaxe_weblog>
                <class>Classaxe_Weblog_Helper</class>
            </classaxe_weblog>
        </helpers>
        <resources>
            <weblog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </weblog_write>
            <weblog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </weblog_read>
            <weblog_setup>
                <setup>
                    <module>Classaxe_Weblog</module>
                    <class>Classaxe_Weblog_Model_Resource_Setup</class>
                </setup>
            </weblog_setup>
        </resources>
    </global>
</config>